@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$fullScreen: 100vh;
$bgColor: #fbfffe;
$letterSpacing: 3px;

$mainFont: 'Prompt', sans-serif;

$borderRadius: 5px;

$fontSizeMob: 18px;
$fontSizePad: 22px;
$fontSizePc: 25px;

$buttonColor: #208b3a;

$InputShadow: 1px 1px 3px #dcdcdc, -1px -1px 3px #e4e4e4;
$inputBorder: 0.5px lightgray solid;
