@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$bgColor: #fbfffe;

$mainFont: 'Prompt', sans-serif;

$borderRadius: 5px;

$fontSizeMob: 18px;
$fontSizePad: 22px;
$fontSizePc: 25px;

$buttonColor: #208b3a;
