@use './abstracts/mixins' as mix;
@use './abstracts/variables' as vars;

.registerContainer {
  height: vars.$fullScreen;
  @include mix.flexBox(row, center, center);
  background-color: vars.$bgColor;
}

.imageRegister {
  width: 300px;
  z-index: 1;
  display: none;
}

.registerForm {
  height: 100%;
  @include mix.flexBox(column, center, center);
  text-align: start;
  font: {
    family: vars.$mainFont;
    size: vars.$fontSizeMob;
  }

  &__label {
    letter-spacing: vars.$letterSpacing;
    margin: 10px 10px;
  }

  &__input {
    width: 300px;
    padding: 5px;
    border-radius: vars.$borderRadius;
    border: vars.$inputBorder;
    box-shadow: vars.$InputShadow;

    &:focus {
      outline: none;
    }
  }

  &__languages {
    max-width: 300px;
    margin: 20px 0;
    padding: 10px;
    @include mix.flexBox(row, space-between, center);
    flex-wrap: wrap;
  }

  &__text {
    max-width: 300px;
    margin: 20px 0 0;
    text-align: center;
    & a {
      color: vars.$mainColor;
    }
  }

  &__langLable {
    margin: 0 10px;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  &__submit {
    width: 300px;
    padding: 5px 20px;
    border-radius: vars.$borderRadius;
    border: none;
    box-shadow: vars.$InputShadow;
    background-color: vars.$mainColor;
    color: white;
    font: {
      family: vars.$mainFont;
      weight: bold;
      size: vars.$fontSizeMob;
    }

    &:hover {
      background-color: darken((vars.$mainColor), 10%);
      transition: 0.5s;
    }
  }
}

// Ipad Break point

@media screen and (min-width: 790px) {
  .imageRegister {
    width: 280px;
    display: block;
    margin-right: 75px;
  }

  .registerForm {
    font-size: vars.$fontSizePad;

    &__input {
      width: 400px;
      padding: 15px;
    }

    &__languages {
      max-width: 400px;
    }

    &__text {
      max-width: 400px;
    }

    &__langLable {
      margin-right: 11px;
    }

    &__checkbox {
      transform: scale(1.5);
    }

    &__submit {
      width: 400px;

      font: {
        size: vars.$fontSizePad;
        weight: 400;
      }
    }
  }
}

// big screens break point

@media screen and (min-width: 1100px) {
  .imageRegister {
    width: 300px;
    display: block;
    margin-right: 300px;
  }

  .registerForm {
    font-size: vars.$fontSizePc;

    &__input {
      width: 500px;
    }

    &__languages {
      max-width: 500px;
    }
    &__checkbox {
      transform: scale(1.2);
    }

    &__submit {
      width: 500px;
      font: {
        size: vars.$fontSizePc;
      }
    }
  }
}
